body {
    font-family: Arial, sans-serif;
    background: linear-gradient (right , #aa1313);
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(Retro.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-size: 2em;
    padding: 20px;
}

.output {
    background-color: rgb(141, 204, 24);
    width: 100px;
    border: 3px solid rgb(89, 0, 255);
    padding: 30px;
    margin: 100px;
    text-align: center;
}

.container{
    background-color: rgb(194, 141, 236);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-left: auto;
    margin-right: auto;
    
}
div {
    margin-bottom: 20px;
}
.regular{
    margin-top: 20px;
}

